.d1
{
    font-size:18px;
    background-color: lightgreen;
    padding: 1px;
    border: solid;
    text-align: center;
    position:absolute;
    right: 300px;
    width:10%;

}
.d2
{
    font-size:18px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 255, 0);
    padding: 1px;
     border: double;
     border-color: magenta;
     text-align:center;
     position: relative;
     left: 30px;
}
.d3
{
    font-size:18px;
    background-color: rgb(255, 0, 0);
    padding: 1px;
    border: dashed;
    text-align: left;
    position:fixed;
    bottom: 90px;
}
.game
{
position: absolute;
left: 600px;
top: 300px;
}
.all
{
width:13%;
}
.result
{
    position: absolute;
    left: 600px;
    top: 300px;
    font-weight: bolder;
    font-size: larger;
    
}
